:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	--font-mono: "Fira Mono", monospace;
	--pure-white: #ffffff;

	--primary-color: rgba(34, 29, 29, 0.803);
	--secondary-color: rgb(57, 54, 54);
	--tertiary-color: rgb(48, 47, 47);

	--accent-color: rgb(177, 177, 177);
	--heading-color: rgba(175, 171, 171, 0.7);
	/* 	--background-without-opacity: rgba(100, 100, 100, 0.7);
 */
	--column-width: 42rem;
	--column-margin-top: 4rem;
	/* */
	--text-color: #c4c4c4db;
	--green: rgb(212, 251, 121);
	--blue: rgb(115, 235, 255);
	--red: rgb(255, 126, 121);
}

* {
	box-sizing: border-box;
}

/* body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #ff3e001a;
	overscroll-behavior: none;
} */

body {
	min-height: 100vh;
	margin: 0;
	color: var(--text-color);
	background-color: var(--primary-color);
	background: linear-gradient(
		180deg,
		var(--primary-color) 0%,
		var(--secondary-color) 10.45%,
		var(--tertiary-color) 41.35%
	);
}

/* -------------------- header ------------------ */
header {
	background-color: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;

	ul {
		list-style-type: none;
		display: flex;
		gap: 0.5rem;

		li > button {
			all: initial;
			font-family: Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
			"Helvetica Neue", sans-serif;
			padding: 0.5rem;
			color: #444;

			&.active {
				color: var(--red);
				text-decoration: none;
			}
		}
	}
}

h1 {
	color: #ff3e00;
}

h2 {
	margin: 1rem;
	text-align: center;
}

h3 {
	margin: 1rem;
	text-align: center;
	color: var(--text-color)
}

main {
	padding: 1rem 2rem;
	overflow: hidden;
	color: #444;
}

/* nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1rem;
} */

/* .spectators {
	text-align: center;
} */
